@import "tailwindcss";
@import "@heroui/styles"; 

@font-face {
  font-family: 'Lily Script One';
  src: url('/fonts/LilyScriptOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-logo: "Lily Script One", cursive;
  --font-text: "Inter", sans-serif;
  --color-primaryAction: #EE791C;
  --color-primaryText: #374151;
  --color-secundaryText: #6B7280;
  --color-terciaryText: #374151;
  --color-success: #6CBD73;
  --color-error: #FB4646;
  --color-logo: #374151;
  --color-date: #6B7280;
  --color-time: #374151;
  --color-background: #FDFBF7;
}


body {
  background-color: var(--color-background);
}