# Node (React)
node_modules/
dist/
.env
#*.png
#*.jpg
#*.jpeg

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Otros
.DS_Store

TOMAR_ORDEN_BUGFIX_REPORT.md
observaciones_productos.md
productos_features.md